name: Junits-Reusable-workflow
on:
  workflow_call:
    inputs:
      GLOBAL_MY_MAPPED_ENV_VAR:
        required: true
        type: string
      junit_files:  
        required: true
        type: string
      junit:  
        required: true
        type: string
    secrets:
      ADOVARIABLE:
        required: true
jobs:
  Juints:
    if: ${{ inputs.junit  == 'yes' }}
    runs-on: ubuntu-latest    
    steps:
    - name: checkout
      uses: actions/checkout@v3.5.0
    - run: |-
        echo "Using an input-macro works for secrets var : ${{ secrets.ADOVARIABLE }}"
        echo "Using the env var directly does not work : ${{ inputs.GLOBAL_MY_MAPPED_ENV_VAR }}"
      shell: bash
    - name: Setup Java 8
      uses: actions/setup-java@v3.12.0
      with:
        distribution: zulu
        java-version: '8'
    - name: Publish test results
      uses: EnricoMi/publish-unit-test-result-action@v2.9.0
      if: always()
      with:
        junit_files: ${{ inputs.junit_files }}  
    - uses: actions/github-script@v6.4.0
      env:
        TARGET_FOLDER: "${{ runner.temp }}"
        CONTENTS: "**"
     
  
